.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
    padding: 9px 0;
}

.imagem-perfil{
    width: 60px;
}

.imagem-perfil:hover{
    cursor: pointer;
}