.toolbar{
    background-color: #0D6EFE;
    
}

.imagem-perfil{
    width: 60px;
}

.imagem-perfil:hover{
    cursor: pointer;
}

.usuario{
    display: flex;
    align-items: center;
}

.nome{
    margin-right: 15px;
}